*{
	margin:0;
	padding:0;
	border: none;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
    font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
}